<header class="main-header" id="Go_up">
  <div class="sub-header">
    <div class="intro">
      <h2><a href="/game">Play Game</a></h2>      
    </div>      
</header>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>