
    <div class="copy-icon">
        <span class="copyright">&copy; 2022 Guess Game | All Rights Reserved.</span>
        <a href="#Go_up" id="arrowup" style='position: fixed; bottom: 3em; right:1em; z-index: 99999;'><i class="fa-solid fa-circle-arrow-up"></i></a>
    </div>
</footer>

<script
    src="https://kit.fontawesome.com/9bd36ee156.js"
    crossorigin="anonymous"
  ></script>
</body>
</html>